openai
groq
fastapi
langgraph
langchain
langsmith
pydantic
requests
tqdm
httpx
python-dotenv
langchain_google_community
langchain-groq
langchain-google-genai
langchain_tavily
langchain-mcp-adapters
langchain_community
langchain_openai
langchain_core
mcp
pyyaml
wikipedia
lxml
ddgs
structlog
reportlab
python-docx
passlib
bcrypt<5
jinja2
tavily-python
uvicorn
aiofiles>=23.2.1
sqlalchemy==2.0.43
python-multipart
